<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="single-page-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center gap fade-down section-heading">
                                <h2 class="main-title">Ro'yxatdan o'tish sahifasi</h2>
                                <hr>
                                <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->

<div id="content-wrapper">
    <section id="contact" class="white">
        <div class="container">
            <div class="row">
                <div class="col-md-3 fade-up">

                </div><!-- col -->

                <div class="col-md-6 fade-up">
                    <h3>Ro'yxatdan o'tish</h3>
                    <br>
                    <br>
                    <div id="message"></div>
                    <form method="post" action="" id="contactform">
                        <input type="text" name="name" class="name" placeholder="Ism" required/>
                        <input type="text" name="fam" class="name" placeholder="Familiya" required/>
                        <input type="text" name="otec" class="name" placeholder="Otasining ismi" required/>
                        <input type="date" name="data" class="name" placeholder="Tug'ilgan sana" required/>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-4">
                                <label><input type="radio" class="option-input radio" name="example" /> Erkak</label>
                            </div>
                            <div class="col-md-4">
                                <label><input type="radio" class="option-input radio" name="example" /> Ayol</label>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="clearbox10"></div>
                        <input type="tel" name="tel" class="name" placeholder="Telefon raqam" required>
                        <input type="text" name="email" class="email" placeholder="Email" required/>
                        <input type="password" name="password" class="name" placeholder="Parol" required/>
                        <input class="btn btn-outlined btn-primary" type="submit" name="submit" value="Ro'yxatdan o'tish" />
                    </form>
                </div><!-- col -->

                <div class="col-md-3 fade-up">

                </div>
            </div><!-- row -->
            <div class="gap"></div>
        </div>
    </section>
</div>
</body>
</html>